<html><body>
{% if employeemodel_list %}
<table align="center" border="2">
    <tr><th>IDNO</th>
    <th>NAME</th>
    <th>SALARY</th>
    <th>UPDATE</th>
    <th>DELETE</th></tr>
    {% for x in employeemodel_list %}
        <tr><th>{{ x.idno }}</th>
    <th>{{ x.name }}</th>
    <th>{{ x.salary }}</th>
            <th><a href="{% url 'update' x.idno %}">Yes</a></th>
            <th><a href="{% url 'del' x.idno %}">Del</a></th></tr>
    {% endfor %}
</table>
    {% else %}
    <center><h2>No Employee Records</h2></center>
{% endif %}
</body></html>